:root {
  --color-primary: #4e47ff;
  --color-primary-light: #716cff;
  --color-primary-dark: #3e39cc;

  --color-light-1: #ffffff;

  --color-dark-1: #252432;
  --color-dark-2: #929299;
  --color-dark-3: #1e1e1e;

  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Inter', sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-dark-2);
  line-height: 1.5;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #f5f8ff;
}

a {
  text-decoration: none;
  display: inline-block;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
label,
textarea {
  font: inherit;
}
/* /////////////////////////////////////////////////////////// */
.container {
  max-width: 114rem;
  margin: 0 auto;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: var(--color-dark-1);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.heading-primary {
  font-size: 5.2rem;
  margin-bottom: 2.5rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.1;
}
.heading-tertiary {
  font-size: 3.6rem;
}

.btn,
.btn:link,
.btn:visited {
  font-weight: 700;
  color: var(--color-light-1);
  padding: 1rem 3.2rem;
  background-color: var(--color-primary);
  border-radius: 1rem;
  cursor: pointer;

  transition: all 0.5s;
}
.btn:hover,
.btn:hover,
.btn:active {
  background-color: var(--color-primary-dark);
}

.mb-big {
  margin-bottom: 10rem;
}
.mb-md {
  margin-bottom: 5rem;
}
.mb-sm {
  margin-bottom: 2rem;
}
.text-center {
  text-align: center;
}
