.header {
  background: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.header__nav {
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-family: var(--font-secondary);
  font-size: 3.4rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-primary);
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 40rem;
}

.hero__content {
  max-width: 60%;
  text-align: center;
}
/* ///////////////////////////////////////////////////////////// */
.action {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
}
.action__text {
  flex: 1 1 40%;
}
.action__desc {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.action__img {
  flex: 1 1 60%;
}

.action__img img {
  border-radius: 4rem;
  margin-left: auto;
}
/* ///////////////////////////////////////////////////////////// */
.statistics {
  background-color: rgba(77, 71, 255, 0.11);
  border-radius: 2.4rem;
  padding: 5rem 13rem;

  text-align: center;
}
.statistics__count {
  display: flex;
  justify-content: space-between;
}
.count-item {
  font-family: var(--font-secondary);
  font-weight: 700;
}
.count-item p:first-child {
  font-size: 7rem;
  color: var(--color-primary);
  line-height: 1;
}
/* ///////////////////////////////////////////////////////////// */
.feedback__items {
  display: flex;
  gap: 4rem;
}
.feedback__item {
  background-color: var(--color-light-1);
  padding: 3rem 2rem;
  border-radius: 1.4rem;

  flex: 1;

  font-family: var(--font-secondary);
  color: var(--color-dark-3);

  border: 1px solid #f2eded;

  transition: 0.5s;
}
.feedback__item:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.feedback__star {
  display: flex;
  gap: 1rem;
}
.feedback_com {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.star-icon {
  height: 2.4rem;
  color: orange;
}

.user {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.user__img img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  object-fit: cover;
}

.user p {
  color: #757575;
  font-weight: 600;
}

.user time {
  font-size: 1.4rem;
  color: #b3b3b3;
}
/* ///////////////////////////////////////////////////////////// */
.focus {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;

  background-color: var(--color-light-1);
  border-radius: 1.4rem;

  padding: 7rem;
}
.focus .heading-secondary {
  margin-bottom: 1rem;
}
.focus__img,
.focus__img img {
  border-radius: 4.8rem;
}
/* ///////////////////////////////////////////////////////////// */
.touch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.touch .heading-secondary {
  font-size: 8rem;
  flex-basis: 40%;
}
.touch__form {
  font-family: var(--font-secondary);
  flex-basis: 40%;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.touch__form input,
.touch__form label,
.touch__form textarea {
  display: block;
  color: inherit;
  width: 100%;
}
.touch__form label {
  font-weight: 500;
  color: var(--color-dark-1);
  font-size: 1.8rem;
}
.touch__form input,
.touch__form textarea {
  outline: none;
  padding: 1.5rem 2rem;

  border-radius: 1rem;
  border: 1px solid #d6dded;

  transition: 0.5s;
}

.touch__form input:focus,
.touch__form textarea:focus {
  border: 1px solid var(--color-primary);
}

.touch__form .btn {
  color: var(--color-light-1);
}
