.header {
  background: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.header__nav {
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-family: var(--font-secondary);
  font-size: 3.4rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-primary);
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 40rem;
}

.hero__content {
  max-width: 60%;
  text-align: center;
}
/* ///////////////////////////////////////////////////////////// */
